@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

body {
    font-family: "Merienda", cursive;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    padding: 1rem;

}


header h1 footer p {
    margin: 0;
}

footer a {
    color: #ff6347;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

#search-input {
    font-family: "Merienda", cursive;
    padding: 1rem;
    font-size: 1rem;
    width: 80%;
    margin-bottom: 1rem;
    max-width: 600px;
    border: none;
    border-radius: 5px;
    outline: none;
}

button {
    font-family: "Merienda", cursive;
    background-color: #ff6347;
    color: #fff;
    border: none;
    padding: 1rem, 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
    margin-bottom: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #ff4500;
    transform: scale(1.05);
}

#Cafes {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.Cafe-cards {
    background-color: #1f1f1f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    width: calc(33.333% - 1rem);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Cafe-cards h2 {
    margin: 0.5rem 0;
    color: #ff6347;
    font-size: 1.5rem;
}

.Cafe-cards p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #ccc;
}

.Cafe-cards:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.Cafe-map {
    width: 100%;
    height: 200px;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.Cafe-image {
    width: 100%;
    border-radius: 10px;
}

/* Renponsive Styles */

@media (max-width : 1100px) {
    .Cafe-cards {
        width: calc(50% - 1rem);
    }
}

@media (max-width: 750px) {
    .Cafe-cards {
        width: calc(3333.333% - 1rem);
    }
}

@media (max-width: 600px) {
    button {
        width: 100%;
        font-size: 1rem;
    }

    .Cafe-cards {
        width: 100%;
    }
}